.formulário {
    font-family:'URW Chancery L, cursive';
    padding-left: 1%;   
}

input {
    margin: 1%;
}

.subtitulo {
    font-family:'URW Chancery L, cursive';
    padding-left: 1%;   
}

.cabeca {
    padding-left: 1%;
    font-family: Bradley Hand, cursive;
}